@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
:root {
    --c_dark: #343A47;
    --c_dark_alt: #6B6B6B;
    --c_dark_alt2: #4A515F;
    --c_light: #fff;
    --c_light_alt: #FFEFFF;
    --c_blue: #477FF8;
    --c_blue_alt: #6696FF;
    --c_gradient_1_1: #F492F0;
    --c_gradient_1_2: #A18DCE;
    --c_gradient_2_1: #6F7BF7;
    --c_gradient_2_2: #9BF8F4;
}